<div class="row row-content">
    <div class="tab-content">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a aria-controls="all menu" role="tab">The Menu</a></li>
            <li role="presentation">
                <a aria-controls="appetizers" role="tab">Appetizers</a></li>
            <li role="presentation">
                <a aria-controls="mains" role="tab">Mains</a></li>
            <li role="presentation">
                <a aria-controls="desserts" role="tab">Desserts</a></li>
        </ul>
    </div>
    <div class="col-xs-12">

        <ul class="media-list">
            <li class="media" ng-repeat="dish in dishes">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>
                    <p>Comment: {{dish.comment}}</p>
                    <p>Type your comment:
                        <input type="text" ng-model="dish.comment">
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
